@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;
}
.banner-container{
    width: 1320px;
    min-height: 600px;
    margin-left: 86px;
   display: flex;
   justify-content: center;
   align-items: center;
    margin-top: 20px;
    background-image: url(images/Banner\ Image.png);
    
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
    
    
}
.banner-content p{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}
.banner-content h2{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 62px;
    font-weight: 900;
    margin-top: 0;
}
/* main secton start here */
/* 60% start here */
.sixty-section{
    margin-top: 120px;
    margin: 0 auto;
    width: 802.9px;
    height: 806px;
    
    
    
    
}
.offer-heading{
    margin-top: 120px;
    text-align: center;
    width: 100%;
    height: 306px;
    
}
.offer-heading h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}
.offer-heading p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.offer-heading h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.party-details{
    border: 2px solid red;
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 90px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),
                url('images/Vectorrr.png') no-repeat center center/cover;
                border-radius: 16px;
    background-repeat: no-repeat;    
    background-position: center; 
    display: flex;
         

}
.party-heading{
    display: flex;
    flex-direction: column;

}
.party-heading h4{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    margin-left: 128px;

}
.party-heading p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    margin-left: 126px;

}
.join-btn{
    width: 103px;
    height: 24px;
    margin-left: 158px;
    margin-top: 48px;
    opacity: 1;
    border: none;

}
.join-btn a{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    

}

.party-details .group-70-pic{
    width: 349.16px;
    height: 464.65px; 
     
    margin-right: 108px;
    margin-top: 68px;
}